<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduQuery/login</title>
</head>
<body>
    <h3>Login</h3>
    <form action="/login" method="post">
    {%csrf_token%}
    <label for="">Username</label>
    <input type="username", id="username", name="username", placeholder="Enter your username", required>
    <br>
    <label for="">Password</label> 
    <input type="password", id="password1", name="password1", placeholder="Enter your password", required>
    <br>
    <button type="submit">Login</button>
    </form>
    <p><small>Not yet registered? <a href="signup">Sign Up</a></small></p>
</body>
</html>